\.gradle/2\.14/taskArtifacts/

\.gradle/

\.settings/

_classpath\.xml

_gitignore

_project\.xml

Build\.bat

build/tmp/makeStart/extracted/

eclipse/\.metadata/\.mylyn/\.taskListIndex/

eclipse/\.metadata/\.mylyn/

eclipse/\.metadata/

*.launch

bin/mcmod\.info

bin/pack\.mcmeta